@import "../../styles.css";

.page-container {
  background-color: #edf3f3;
  min-height: 90vh;
}

.search-form-section {
  min-height: 100px;
  padding-top: 50px;
}

.form-container {
  width: 100%;
  padding: 0px 0;
  border-bottom: 2px solid var(--color-light-gray);
}

form.search-query {
  display: flex;
  flex-wrap: wrap;
}

.bar-container {
  flex: 0 0 100%;
  padding-bottom: 30px;
}

.params-row {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0px 0;
}

.query-container {
  display: flex;
  width: 100%;
  padding-bottom: 15px;
}

.query-input {
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  flex: 1 1 89%;
  margin-right: 5px;
  height: 45px;
  font-size: 1.1rem;
  padding: 0 15px;
}

.submit-btn {
  border-radius: 5px;
  background-color: var(--color-accent);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 10%;
  height: 45px;
  padding: 0 10px;
}

.submit-btn .btn-name {
  font-size: 1.1rem;
  margin-left: 5px;
  font-weight: 600;
}

.submit-btn svg {
  width: 16px;
}

.checkbox-container {
  display: flex;
  align-items: baseline;
  max-width: 350px;
}

.checkbox-inner {
  margin-right: 7px;
}

.checkbox {
  width: 23px;
  height: 23px;
  border-radius: 3px;
  background-color: #fff;
  /* border: 2px solid #e4e4e4; */
  transition: 0.2s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox.checked {
  background-color: var(--color-black);
  border: none;
}

.checkbox .checkbox-icon {
  width: 80%;
  fill: #fff;
}

.checkbox-label {
  font-size: 1rem;
  font-weight: 300;
}

.select {
  position: relative;
  border-radius: 5px;
  height: 45px;
  background-color: #ffffff;
  flex: 0 1 250px;
  margin-bottom: 30px;
}

.select:not(:last-child) {
  margin-right: 30px;
}

.select:nth-child(1) .options-window {
  z-index: 4;
}
.select:nth-child(2) .options-window {
  z-index: 3;
}
.select:nth-child(3) .options-window {
  z-index: 2;
}
.select:nth-child(4) .options-window {
  z-index: 1;
}

.select .label {
  position: absolute;
  bottom: 110%;
  left: 0;
  pointer-events: none;
}
.select .label .label-name {
  font-size: 0.9rem;
  color: var(--color-dark-gray);
  font-weight: 300;
}

.select-shown {
  border-radius: 5px 5px 0 0;
}

.selected-option {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  padding-left: 15px;
}

.selected-option .option-name {
  flex: 1 0 85%;
  font-weight: 600;
  font-size: 1rem;
  pointer-events: none;
}

.selected-option .dropdown-triangle {
  flex: 1 0 15%;
  cursor: pointer;
  pointer-events: none;
}

.selected-option:hover .dropdown-triangle svg,
.selected-option .dropdown-triangle:hover svg {
  stroke: var(--color-primary-light);
}

.selected-option .dropdown-triangle svg {
  stroke-width: 2px;
  width: 20px;
  stroke: #e4e4e4;
  transition: 0.2s ease-in;
}

.select-shown .selected-option .dropdown-triangle svg {
  transform: rotateZ(180deg);
  stroke: var(--color-primary-light);
}

.options-window {
  top: 100%;
  display: none;
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0px;
  box-shadow: 0 4px 4px #00000015;
  border-radius: 0 0 5px 5px;
  animation: show-window 0.2s ease-in;
  z-index: 1;
}

.select-shown .options-window {
  display: block;
}

@keyframes show-window {
  from {
    max-height: 0;
    overflow: hidden;
  }
  to {
    max-height: 600px;
    overflow: visible;
  }
}

.options-window .option {
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  cursor: pointer;
}

.options-window .option:not(:last-child) {
  border-bottom: 1px solid #e4e4e4;
}

.option .option-name {
  font-size: 1rem;
  pointer-events: none;
}


.results-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.results-info {
  margin-top: 50px;
  text-align: center;
}

.results-info .loading-icon svg {
  width: 200px;
  opacity: 0.9;
}

.error-message {
  font-size: 1.5rem;
  font-weight: 600;
}

.posts-list-container {
  margin-top: 20px;
}

.posts-results {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  grid-template-rows: auto;
}

.post-container {
  width: 100%;
  height: 260px;
  overflow: hidden;
  background-color: #fff;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px minmax(300px, 1fr);
  padding: 10px;
  border-radius: 5px;
}

.post-left-cn {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-right-cn {
  flex: 1 1 75%;
  position: relative;

}

.post-left-cn .image-container {
  width: 180px;
  height: 180px;
}

.image-container .image-cover {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #f3f3f3;
}

.image-container .image-cover img {
  height: 100%;
}

.image-container .image-cover .alt-text {
  margin: auto;
  color: var(--color-light-gray);
  height: 40px;
  border-bottom: 1px solid var(--color-light-gray);
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.button-container {
  padding: 15px 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

.telegram-contact-btn {
  display: inline-block;
  width: 100%;
  height: 45px;
  border: 2px solid #009fee;
  border-radius: var(--border-btn-radius);
  background-color:#fff;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in;
}

.telegram-contact-btn svg {
  width: 25px;
  fill: #0088cc;
  margin-right: 5px;
  transition: 0.2s ease-in;

}

.telegram-contact-btn .btn-name {
  color: #0088cc;
  font-size: 1.1rem;
  font-weight: 600;
  transition: 0.2s ease-in;

}

.telegram-contact-btn:hover {
  background-color: #009fee;
}

.telegram-contact-btn:hover svg {
  fill: #fff;
}

.telegram-contact-btn:hover .btn-name{
  color: #fff;
}

.post-title {
  font-size: 1.4rem;
  font-weight: 600;
}

.post-info {
  padding: 5px 0 25px;
  height: 210px;
  width: 100%;
}

.post-description {
  overflow: scroll;
  height: 100%;
}

.post-info .date {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--color-medium-gray);
}



.all-posts-btn {
  background-color: var(--color-accent);
  color: var(--color-black);
  border-radius: var(--border-btn-radius);
  border: 2px solid var(--color-accent);
  font-size: 1.78rem;
  padding: 10px 0;
  width: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: all 0.2s ease;
  position: relative;
}

.all-posts-btn:hover .arrow {
  width: 25px;
  fill: var(--color-black);
}
.all-posts-btn .arrow {
  width: 0;
  margin-left: 10px;
  margin-top: 3px;
  transition: all 0.2s ease;
}



.teachers-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  grid-gap: 20px;
}


.teacher-card {
  background: #fff;
  min-width: 350px;
  border-radius: 10px;
  flex: 0 1 360px;
  height: 530px;
  padding: 20px 20px;
  text-align: left;
  margin-bottom: 30px;
  position: relative;
}

.teacher-card .card-header {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 60% 40%;
  grid-column-gap: 10px;
  grid-template-areas:
    "avatar name"
    "avatar rating";
}

.teacher-card .card-header .avatar-cover {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  grid-area: avatar;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

}

.avatar-cover .avatar {
  width: 100%;
}

.teacher-card .card-header .name {
  grid-area: name;
}

.teacher-card .card-header .name a {
  color: var(--color-black);
  display: block;
  font-size: 1.55rem;
  font-weight: 600;
}

.teacher-card .card-header .name a:hover {
  text-decoration: underline;
}

.teacher-card .card-header .rating {
  grid-area: rating;
}
.rating .number {
  font-size: 0.875rem;
  color: var(--color-medium-gray);
}

.star-line {
  width: 100%;
  height: 40%;
  display: flex;
}
.star-container {
  position: relative;
}

.star-container .star {
  width: 20px;
  fill: #d4d4d4;
}

.top-teachers .card-body {
  padding: 10px 0;
  line-height: 1.563rem;
}

.top-teachers .card-info {
  height: 140px;
}

.top-teachers .card-field-name {
  font-weight: 600;
  height: 60%;
}

.data-row {
  display: flex;
  justify-content: space-between;
}

.top-teachers .card-field-data {
  line-height: 1.25rem;
  width: 100%;
  color: var(--color-dark-gray);
}

.teacher-quote {
  margin: 10px 0 30px;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  height: 150px;
  border-top: 1px solid var(--color-light-gray);
  border-bottom: 1px solid var(--color-light-gray);
}
.teacher-quote .text {
  margin: 0 20px;
  font-size: 1.35rem;
  font-family: "Playfair Display", serif;
  color: var(--color-black);
}

.quote {
  width: 25px;
  fill: rgb(134, 134, 134);
  position: absolute;
}

.upper-quote {
  left: 0;
  top: -10px;
}

.lower-quote {
  right: 0;
  bottom: -10px;
  transform: rotate(180deg);
}

.teacher-card .buttons {
  width: 88%;
  position: absolute;
  bottom: 25px;
  left: 20px;
}

.telegram-contact-btn svg {
  transition: 0.2 ease-in;
}

.top-teachers .profile-btn,
.telegram-contact-btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-radius: var(--border-btn-radius);
  height: 40px;
  display: flex;
  align-items: center;
  font-weight: 700;
  justify-content: center;
  transition: all 0.2s ease-in;
}

.top-teachers .profile-btn svg,
.telegram-contact-btn svg {
  width: 25px;
  transition: all 0.2s ease-in;
  margin-right: 5px;
}

.top-teachers .profile-btn {
  border: 2px solid var(--color-dark-gray);
  color: var(--color-dark-gray);
}

.top-teachers .profile-btn:hover {
  background-color: var(--color-black);
  border-color: var(--color-black);
  color: #f9f9f9;
}

.top-teachers .profile-btn:hover svg {
  fill: #f9f9f9;
}

.telegram-contact-btn {
  border: 2px solid #009fee;
  color: #0088cc;
}

.telegram-contact-btn svg {
  fill: #0088cc;
}

.telegram-contact-btn:hover {
  background-color: #009fee;
  color: #fff;
}

.telegram-contact-btn:hover svg {
  fill: #fff;
}

.top-teachers .all-posts-btn {
  background-color: transparent;
  border: 2px solid var(--color-accent);
}
.top-teachers .all-posts-btn span, .header .all-posts-btn span {
  color: var(--color-accent);
}

.top-teachers .all-posts-btn .arrow {
  fill: var(--color-accent);
}


@media screen and (max-width: 850px) {
  .post-container {
    grid-template-columns: 1fr;
    height: fit-content;
  }
}



